
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1900px;
  margin: 0 auto;
  
  background: linear-gradient(180deg, #12131b 0%, #2e3e61 50%, #041028 100%);
  
  min-height: 12035px;
  position: relative;
}
