.benefits-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.benefits-block {
    width: calc(33.333% - 14px);
    max-width: 370px;
    height: 250px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.benefits-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    background-color: #3c4969;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-sizing: content-box;
}

.benefits-title {
    color: white;
    text-align: left;
    margin: 10px 0;
    font-weight: bold;
}

.benefits-description {
    color: var(--lightgrey);
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
}