<!doctype html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <title>ICO landing </title>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/index.header.partial.css">
  <link rel="stylesheet" href="css/index.banner.partial.css">
  <link rel="stylesheet" href="css/index.description.partial.css">
  <link rel="stylesheet" href="css/carousel.partial.css">
  <link rel="stylesheet" href="css/index.ICOprogress.partial.css">
  <link rel="stylesheet" href="css/index.timeline.partial.css">
  <link rel="stylesheet" href="css/index.distibution.partial.css">
  <link rel="stylesheet" href="css/index.benefits.partial.css">
  <link rel="stylesheet" href="css/index.features.partial.css">
  <link rel="stylesheet" href="css/index.statistic.table.partial.css">

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <script src="js/carousel.js"></script>
  <script src="js/features-carousel.js"></script>
</head>

<body>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.banner.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.description.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="carousel.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.ICOprogress.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.benefits.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.timeline.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.distibution.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.statistic.table.partial.html"></section>
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.features.partial.html"></section>

</body>

</html>